h1 {
    background-color: aqua;
    color: black;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
}

p {
    background-color: green;
}

.hero {
    background-color: green;
}

section .hero {
    color: black
}